.LandingPage {
	text-align: center;
}

.mockup-container {
	box-sizing: border-box;
	max-width: 500px;
	width: 85%;
	text-align: center;
	display: inline-block;
	padding:	0px 10px 0px 10px;
}

.landing-page-title {
	margin-top: 35px; 
	text-align: center;
}

.mockup {
	max-width: 500px;
	width: 100%;
	height: auto;
	display: inline-block;
}

.buttonContainer {
	display: inline-block;
	text-align: center;
	margin: 20px 5px;
}

footer {
	background-color: rgb(33,33,33);
	position: absolute;
  bottom: 0;
  width: 100%;
}

footer > p {
	color: white;
}

.gh-icon {
	color: white;
  margin: 10px 0 15px 7px;
}