.MemoryCreate {
  text-align: center;
}

.ImageFormWrapper > div {
	margin: auto;
}

div.MemoryCreate > div {
  margin: auto;
  margin-bottom: 10px;
}

.MemoryCreate-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 3em;
}