.MemoryCreateForm-form {
  text-align: center;
  border: 3px #cccccc solid;
  border-radius: 5px;
  max-width: 325px;
  margin: 30px auto;
}

.submit-button {
	margin-top: 15px;
	margin-bottom: 10px;
}

.comments {
	margin-top: -20px;
}