.TripCreateForm-form {
  text-align: center;
  border: 3px black solid;
  max-width: 325px;
  margin: auto;
}

.TripCreateForm-input {
  display: block;
  margin: auto;
}

.submit-button {
	margin-top: 15px;
	margin-bottom: 10px;
}
